<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 350px; margin-top: -90px;">
      <h3 class="text-center">Nouveau Mot de Passe</h3>
  
      <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
        <div class="mb-3">
          <label class="form-label">Nouveau mot de passe</label>
          <input
            type="password"
            class="form-control"
            formControlName="newPassword"
            placeholder="Entrez votre nouveau mot de passe"
            [ngClass]="{'is-invalid': newPasswordForm.controls['newPassword'].invalid && newPasswordForm.controls['newPassword'].touched}"
            required
          />
        </div>
  
        <div class="mb-3">
          <label class="form-label">Confirmez le mot de passe</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Confirmez votre mot de passe"
            [ngClass]="{'is-invalid': newPasswordForm.controls['confirmPassword'].invalid && newPasswordForm.controls['confirmPassword'].touched}"
            required
          />
        </div>
  
        <button type="submit" class="btn btn-dark w-100" style="background-color: #555;" [disabled]="newPasswordForm.invalid">
          Réinitialiser le mot de passe
        </button>
      </form>
  
      <div class="text-center mt-3">
        <a routerLink="/home">nouveau mot de passe bien sauvegarder Bienvenue sur la page Home</a>
      </div>
    </div>
  </div>
  