<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 350px; margin-top: -90px;">
    <h3 class="text-center">Réinitialiser le mot de passe</h3>

    <form [formGroup]="forgotPasswordForm">
      <!-- Sélecteur de méthode de réinitialisation -->
      <div class="mb-3">
        <label class="form-label">Choisissez la méthode de réinitialisation</label>
        <div>
          <div class="mb-2">
            <input 
              type="radio" 
              id="emailChoice" 
              formControlName="resetMethod" 
              value="email" 
              (change)="onChoiceChange('email')"/>
            <label for="emailChoice">E-mail</label>
          </div>

          <div class="mb-2">
            <input 
              type="radio" 
              id="phoneChoice" 
              formControlName="resetMethod" 
              value="phone" 
              (change)="onChoiceChange('phone')"/>
            <label for="phoneChoice">Numéro de téléphone</label>
          </div>
        </div>
      </div>

      <!-- Champ E-mail -->
      <div *ngIf="selectedMethod === 'email'" class="mb-3">
        <label class="form-label">Adresse e-mail</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Entrez votre adresse e-mail"
          [ngClass]="{'is-invalid': forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched}"
          required
        />
      </div>

      <!-- Champ Numéro de téléphone -->
      <div *ngIf="selectedMethod === 'phone'" class="mb-3">
        <label class="form-label">Numéro de téléphone</label>
        <input
          type="tel"
          class="form-control"
          formControlName="phoneNumber"
          placeholder="Entrez votre numéro de téléphone"
          [ngClass]="{'is-invalid': forgotPasswordForm.controls['phoneNumber'].invalid && forgotPasswordForm.controls['phoneNumber'].touched}"
          required
        />
      </div>

      <!-- Bouton avec routerLink -->
      <button 
        class="btn btn-dark w-100" 
        style="background-color: #555;" 
        routerLink="/verifey" 
       >
        Envoyer le lien
      </button>
    </form>

    <div class="text-center mt-3">
      <a routerLink="/login">Retour à la connexion</a>
    </div>
  </div>
</div>
